name: publish to nuget

on:
  push:
    branches:
      - master # Your default release branch

jobs:
  publish:
    name: list on nuget
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '10.0.x' # Specify the .NET 10.0 SDK version

      - name: Build with dotnet
        run: dotnet build --configuration Release

      - name: Test with dotnet
        run: dotnet test

      - name: Pack with dotnet
        run: dotnet pack --configuration Release --no-build

      - name: Push to NuGet
        run: dotnet nuget push "WikiDataLib/bin/Release/*.nupkg" --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
